<div>
    
    <div class="top-bar">
       <div><span class="category-name">المفضلة</span></div>
       <div>
       <div style="display: flex; align-items: center;" >
           <div class="header-logo">
                <mat-icon style="font-size: 50px; width: 50px; height: 50px;" color="primary">favorite</mat-icon>
            </div>
                <span>منتج</span>
                <span style="padding-left:5px ;">{{products.value.length}}</span>
            </div>
        </div>
    </div>

    <div class="cards-container">
        <div class="card" *ngFor="let product of products|async">
            <app-product-card [product]="product" ></app-product-card>
        </div>
    </div>
</div>