.top-bar {
    height: 75px;
    width: 100%;
    margin-top: 60px;
    background-color: #EEF5FF;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    
    .category-name {
        font-weight: bold;
        font-size: 34px;  
        margin-left : 70px; 
    }
        
    }
    
    
    .header-logo{
        height: 120px !important;
        width: 120px;
        height: auto;
        background-color: #EEF5FF;
        border-radius:50%;
        margin: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 10px 20px 30px 3px rgba(0, 0, 0, 0.055);
    
    }
    .logo {
      display: inline-block;
      height: 50px;
      background-position: 50% 50%;
      background-size: cover;
    }
    
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    