<app-home-main-slider></app-home-main-slider>
<!-- for now we take just the first offer -->
<app-product-slider *ngIf="offers[0]" [unitDate]="offers[0].expiryDate.toString() || ''" [products]="offers[0].products"  [hasBackground]="true"></app-product-slider>
<app-special-offer></app-special-offer>
<app-product-slider *ngIf="products?.length" [products]="products" [title]="'جديدنا'" ></app-product-slider>
<app-product-slider *ngIf="mostSellingProducts?.length" [products]="mostSellingProducts" [title]="'الاكثر مبيعاً'" ></app-product-slider>
<app-category-cards></app-category-cards>