<div style=" display: flex; direction: rtl; justify-content: center; align-items: center">

<div *ngIf="!params.paymentDone" style="font-weight: bold; width: 600px; background-color: #EEF5FF; border-radius: 20px; margin:40px; padding: 30px;">
    <div style="margin-bottom: 40px; display: flex; direction: rtl; justify-content: center; align-items: center">
        <mat-icon class="material-icons-outlined" style="margin: 5px"
        >money</mat-icon
        >
        <span style="font-size: 22px;">الدفع</span>
    </div>

    <!-- <mat-divider style="margin-bottom: 20px; margin-top: 20px;"></mat-divider> -->

    <div style="    display: flex;
    justify-content: space-between;">
        <div>سعر القطع</div>
        <div><span style="font-size: 20px;"> {{params.productsTotalPrice}} </span>ل.س</div>
    </div>

    <mat-divider style="margin-bottom: 20px; margin-top: 20px;"></mat-divider>

    <div style="    display: flex;
    justify-content: space-between;">
        <div>
            <div>
                <span>التوصيل الى:     </span>
                <mat-form-field style="width: 110px;">
                    <mat-select required [(value)]="params.currentAddress" (selectionChange)="currentAddress($event)">
                      <mat-option *ngFor="let address of params.userAddress" [value]="address">
                        {{address.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div style="font-size: 11px;">{{params.currentAddress?.description}}</div>
        </div>

        <div style="    display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
    ">
            <div> <span style="font-size: 20px;"> {{params.currentAddress?.deliveryCost || 0}} </span> ل.س</div>
            <div style="font-size: 11px; margin-top: 10px;">إن كلفة التوصيل منصمة الى كلفة الشحن</div>
        </div>

    </div>

    <mat-divider style="margin-bottom: 20px; margin-top: 20px;"></mat-divider>

    <div style="    display: flex;
    justify-content: space-between;">
        <div>
            <div style="margin-bottom: 10px;">الإجمالي</div>
            <div><span style="font-size: 30px;"> {{params.finialPrice}}</span> ل.س</div>
        </div>
        <div>
            <button mat-raised-button color="primary" [disabled]="!params.currentAddress" (click)="createNewCart()">إتمام الشراء</button>
        </div>
    </div>
</div>


    <div *ngIf="params.paymentDone" style="text-align: center; vertical-align: middle; font-weight: bold; width: 600px; background-color: #EEF5FF; border-radius: 20px; margin:40px; padding: 30px;">
        <div style="margin-bottom: 40px; display: flex; direction: rtl; justify-content: center; align-items: center">
            <mat-icon class="material-icons-outlined" style="margin: 5px; margin: 5px; font-size: 170px;width: 160px;height: 160px; "
            >check</mat-icon>
        </div>
        <div >
            <h1 style="font-weight: bold;">تم إتمام عملية الشراء بنجاح</h1>
            <h3> يمكن الان متابعة الطلب من صفحة <a routerLink="/cart/list" class="no-underline hover:underline">طلباتي</a> </h3>
            <h5>سيتم التواصل معك وتأكيد عملية الشراء</h5>
        </div>
    </div>
</div>
