<div>
    
    <div class="top-bar">
       <div><span class="category-name">{{this.categoryWithProductCount?.category?.name}}</span></div>
       <div>
       <div style="display: flex; align-items: center;" >
           <div class="header-logo">
               <img class="logo" [src]="this.categoryWithProductCount?.brand?.logo?.url">
            </div>
                <span>منتج</span>
                <span style="padding-left:5px ;">{{this.categoryWithProductCount?.productCount}}</span>
            </div>
        </div>
    </div>

    <div class="cards-container">
        <div class="card" *ngFor="let product of products">
            <app-product-card [product]="product" ></app-product-card>
        </div>
    </div>
</div>