<div dir="rtl"  class="mt-10 flex flex-col justify-center items-center">
    <h1 style="font-weight: bold;">عروض الجملة</h1>
    <h3>لتستفيد من عروض الجملة (شراء/ بيع) يرجى تعبئة الاستمارة التالية</h3>
    <br>
    <form [formGroup]="wholesaleRequestForm">
        <div class="flex">
            <mat-form-field  class="ml-5" appearance="outline">
                <mat-label> اسم العلامة التجارية</mat-label>
                <input required matInput formControlName="brandName" >
            </mat-form-field>
            <mat-form-field   appearance="outline">
                <mat-label> اسم صاحب العلامة التجارية</mat-label>
                <input required matInput formControlName="brandNameOwnerName" >
            </mat-form-field>
        </div>
        <mat-form-field  appearance="outline" style="width: 100%;">
            <mat-label>عنوان المحل</mat-label>
            <textarea matInput formControlName="address" placeholder="اسم الشارع - اسم البناء - رقم الطابق"></textarea>
        </mat-form-field>

        <div class="flex">
            <mat-form-field  class="ml-5" appearance="outline">
                <mat-label> رقم الهاتف</mat-label>
                <input type="tel" required matInput formControlName="phoneNumber" placeholder="00963" pattern="\+963\d{9}" >
            </mat-form-field>
            <mat-form-field   appearance="outline">
                <mat-label> عدد الفروع</mat-label>
                <input type="number" required matInput formControlName="branchesNumber" >
            </mat-form-field>
        </div>

        <div class="flex justify-between">
            <div>
                <h3>أود المشاركة بصفة</h3>
            </div>
            <div>
                <mat-radio-group
                  aria-label="Select an option"
                  formControlName="type"
                >
                  <mat-radio-button value="VENDER">بائع جملة</mat-radio-button>
                  <mat-radio-button value="BUYER">مشتري جملة</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <button mat-raised-button [disabled]="wholesaleRequestForm.invalid" color="primary" (click)="addNewWholesaleRequest()" > ارسل الطلب</button>
    </form>
    
</div>
