<div class="flex justify-evenly container">
    <div>
        <img src="../../../../assets/images/Group 663.png">
    </div>
    <div class="text-area">
        <h1 style="font-size: 40px; font-weight: bold;">التسويق بالعمولة</h1>
        <h2 style="font-weight: bold;">سوّق .. وأبدا بجني الأرباح</h2>
        <h4 style="font-weight: 600;">يمكنك البدأ بجني أرباح بنسبة 10% من سعر أي قطة معروضة على الموقع<br> خلال رمز تهديه لأقاربك .. متابعينك .. وأصدقائك </h4>
        <button mat-raised-button color="accent" class="butn" routerLink="/affiliate-marketing/code" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >قم بتوليد الرمز الخاص بي</button>
    </div>
</div>