<div class="container" >
    <app-product-card [product]="product" *ngFor="let product of products$|async"></app-product-card>
</div>
<div class="container2" *ngIf="(products$|async)?.length === 0 ">
    <h1>لا يوجد منتجات لعرضها بعد</h1>
</div>