<div class="flex justify-evenly container">
    <div>
        <img src="../../../../assets/images/Group 663.png">
    </div>
    <div class="text-area">
        <h1 style="font-size: 40px; font-weight: bold;">التسويق بالعمولة</h1>
        <div class="container-code">
            <div style="font-size: 30px; font-weight: bold; margin-right: 30%;">{{marketingDetails?.code}}</div>
            <mat-icon [cdkCopyToClipboard]="marketingDetails?.code || '' " style="cursor: pointer; margin-left: 4%;" (click)="afterCodeCopied()">content_copy</mat-icon>
        </div>
        <div class="amount">
            <div>الرصيد الخاص بك:</div>
            <div >{{marketingDetails?.userBalance}} <span>ل.س</span></div>
        </div>
        <div class="code-used">
            <div>عدد مرات الشراء من خلال الرمز</div>
            <div style="margin-left: 12%;">{{marketingDetails?.codeUsedCount}}</div>
        </div>
    </div>
</div>