.text-area {
    margin-top: 3%;
    direction: rtl;
}

.container {
    padding-right: 10%;
    padding-top: 8%;
}

.butn {
    margin-top: 4%;
}

.code-used {
    margin-top: 4%;
    height: 60px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    direction: rtl;
}
.amount {
    margin-top: 4%;
    font-weight: bold;
    height: 60px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    direction: rtl;
    background-color: #EEF5FF;
}
.container-code {
    margin-top: 10%;

    border: 2px dashed black;
    height: 60px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    direction: rtl;
}
