<div class="container">
    <div>
      <div class=" test product-cart-body">
        <div>
            <div>
              <div style="margin-top: 8px; font-size: 11px; color: grey;">الطلب رقم</div>
              <div style="font-weight: 700">{{shortCart?.number}}</div>
            </div>
          </div>
          <div>
            <div>
              <div style="margin-top: 8px; font-size: 11px; color: grey;">إجمالي قيمة الطلب</div>
              <div><span style="font-weight: 700">{{ getFullCost() | number : "1.2-2" }}</span><span style="font-size: 10px;">  ل.س</span></div>
            </div>
          </div>
          <div>
            <div>
              <div style="margin-top: 8px; font-size: 11px; color: grey;">حالة الطلب</div>
              <div style="font-weight: 700">{{ getStatus() }}</div>
            </div>
          </div>
      </div>
    
      <div class="footer">
        <div><span>توصيل الطلب لــ </span>{{ shortCart?.address?.name}}</div>      
        <div></div>      
        <div><span>تكلفة التوصيل : </span>{{ shortCart?.deliveryCost || 0 | number: "1.2-2" }}</div>      
      </div>    
    
    </div>  
<div class="image-div test">
    <img class="product-img" [src]="shortCart?.productCarts![0].product.mainPhoto?.url" [alt]="''">
  </div>

</div>
