.product-cart-body {
    display: flex;
    justify-content: space-between;
    background-color: #EEF5FF;
    align-items: center;
    height: 90px;
    margin-top: 20px;
    width: 600px;
    font-size: 20px;
    border-radius: 5px 5px 0px 0px;
    border: solid 0px;
    direction: rtl;
    padding-left: 40px;
    padding-right: 40px;
}

.product-cart-counter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
    margin-left: 20px;

}

.butn {
    margin: 20px 25%;
    border-radius: 10px !important;
    border: solid 2px;
    width: 35px;
    height:35px;
    cursor: pointer;
  }

  .cart-btn{
    border-radius: 10px !important;
    width: 40px;
    height: 40px;
    margin: 5px auto;
    display: block;
    box-shadow: none;
  }


  .img-container {
    display: flex;
    width: 100%;
}

.product-img {
    width: 100%;
    height: 100%;
    border: solid 0px;
    border-radius: 5px;

}

.image-div {
    background-color: #ffffff;
    height: 110px;
    width: 100  px;
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: solid 0px;
    z-index: 10px;
    box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.055);

}

.footer {
    background-color: white;
    height: 20px;
    width:600px;
    align-items: center;
    // z-index: 10px;
    box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.055);
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 20px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    direction: rtl;

}

.container {
    display: flex;
    justify-content: center;
  }
  
  .item {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    background-color: #3498db; /* Just for demonstration */
    margin: 0 10px; /* Space between items */
  }

