.container {
    direction: rtl;
    max-width: 100%;
}
.button-container {
    height: 70px;
    // // width: 60%;
    // // margin: 0 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 1s;
  
    a {
      border-radius: 0;
      font-size: 1.2rem;
      transition: all 0.2s;
      text-decoration: none;
      color: #140E3F;
      margin-left: 30px;
      margin-right: 30px;
      height: 100%;
      width: 20%;
    }
    .active {
      border-bottom: 3px solid #9C89FF;
    }
  }

.tabs {
    // background-color:#EEF5FF ;
    margin-left: 7%;
    margin-right: 7%;
}

  
.tab-title {
    margin-top: 12%;
    margin-right: 32%;
}

// ::ng-deep mat-tab-header {
//     align-self: self-start;
//     width: 40% !important;
//     // background-color:#EEF5FF ;

// }

