<div class="container">

    <!-- <div class="tabs">
        <div class="button-container">
            <a mat-button routerLink="#" ><div class="tab-title">  الوصف </div></a>
            <a mat-button routerLink="#" class='active' > <div class="tab-title"> التقيمات </div></a>
        </div>
    </div> -->

    <div class="tabs">
        <mat-tab-group selectedIndex="1" mat-align-tabs="center" class="custom-tab-group">
            <mat-tab  label="الوصف">  </mat-tab>
            <mat-tab  active label="التقيمات"> <app-product-rating></app-product-rating>  </mat-tab>
        </mat-tab-group>
    </div>
    
</div>

