.header{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 2.2rem;
    gap: 1rem;
    h1{
        font-size: 3.3rem;
        font-weight: 800;
    }
    h3{
        font-size: 1.2rem;
    }
}

.cards{
    display: flex;
    justify-content: center;
}
.input-width {
    width: 100%;
    margin: 0px 0px 13px 50px;
    font-size: 0.8rem;
  }



p {
    font-family: Lato;
  }
  
  .hoverable{
    position: relative;
    display: block;
    // cursor: pointer;
    height: 200px;
    width: 200px;
    border: 5px solid rgb(226, 226, 226);
    border-radius: 50%;
  }
  
  #fileInput{
    display: none;
  }
/* CSS */
.contact-us {
  background-color: #eae6e6;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  padding: 1.6rem;
  height: fit-content;
}
  
.whatsapp-button {
    background-color: #4d8b64;
    color: white;
    /* Other styles */
  }
  /* Additional styles for text and icons */
  
.label{
  display: flex;
  gap: 0.4rem;
  justify-content: space-between;
  span{
    margin: auto auto auto 0;
  }
  mat-icon{
    font-weight: 900;
  }
}

.info{
  // padding: 1rem;
}
.social-icons{
  padding: 0rem 0.5rem 0px 1rem;
  border-left: 0.5px solid black;
  p{
    font-size: 12px;
    margin: 2px 0px;
  }
}

.button-container {
  text-align: center;
  margin: 0px 0 0px 10px;
  display: flex;
  justify-content: space-between;
}
.social-button {
  margin: 0px 0 10px 10px;
    padding: 1px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
  span{
    margin: auto;
  }
}
.social-img {
  background-color: gray;
  color: white;
  border-radius: 5px;
}
