<div class="header">
    <h1>اتصل بنا </h1>
    <h3>يسعدنا ان تتواصل معنا في حال وجود اي استفسار او شكوى</h3>
</div>
<div class="cards">
    <div class="contact-us">
        <div class="info">
          <p class="label"><mat-icon>room</mat-icon> <span>Damascus, Syria</span></p>
          <p class="label" style="
          margin: 19px 0px;"><mat-icon> call</mat-icon><span>+963 900 000 000</span></p>
          <p class="label"><mat-icon> email</mat-icon><span>info@joullaq.com</span></p>
        </div>
        <div class="social-icons">
          <!-- Social Media Icons -->
          <button class="social-button whatsapp-button">
            <img class="whatsapp-button" src="../../../../assets/icons/whatsapp.png"> <span>WhatsApp</span>
          </button>
          <p dir="rtl">تابعنا على السوشال ميديا</p>
          <div class="social">
            <div class="button-container">
              <!-- WhatsApp button with icon -->
              
              <!-- Social media buttons -->
              <button class="">
                <img class="social-img" src="../../../../assets/icons/whatsapp.png">
              </button>
              <button class="">
                <img class="social-img" src="../../../../assets/icons/ins.png">
              </button>
              <button class="">
                <img class="social-img" src="../../../../assets/icons/fb.png">
              </button>
            </div>

          </div>
        </div>
      
    </div>
    <div class="backgound" dir="rtl">
        <form [formGroup]="profileForm">
          <div style="display: flex; justify-content: space-around">
            
      
            <div>
              <div style="display: flex">
                <mat-form-field class="input-width" appearance="outline">
                  <mat-label>الاسم </mat-label>
                  <input
                    required
                    matInput
                    formControlName="name"
                    placeholder="اضف اسمك"
                  />
                </mat-form-field>
      
                <mat-form-field class="input-width" appearance="outline">
                    <mat-label>رقم الهاتف</mat-label>
                    <input
                      type="tel"
                      required
                      matInput
                      formControlName="phoneNumber"
                      pattern="[0-9]+$"
                      placeholder="00963 رقم الهاتف"
                    />
                  </mat-form-field>
              </div>
              <div style="display: flex">
                
      
                <mat-form-field class="input-width" appearance="outline">
                  <mat-label> الرسالة</mat-label>
                  <textarea
                    required
                    matInput
                    formControlName="message"
                    placeholder="... "
                  >

                  </textarea>
                </mat-form-field>
              </div>
              <button
                mat-raised-button
                color="primary"
                class="butn"
                (click)="onSubmit()"
              >
                 ارسال
              </button>
            </div>
          </div>
        </form>
    </div>
      
      
    
</div>
