<div class="main-container">
    <div class="logo-container">
        <img src="../../../../assets/icons/logo-icon.svg">
    </div>
    <div class="button-container">
        <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">الرئيسية</a>
        <a mat-button routerLink="/brands" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">الماركات</a>
        <a mat-button routerLink="/men" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">رجالي</a>
        <a mat-button routerLink="/women" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">نسائي</a>
        <a mat-button routerLink="/kids" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">ولادي</a>
        <a mat-button routerLink="/join-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">انضم
            الينا</a>
        <div class="dropdown">
            <button mat-button class="dropbtn"> المزيد <i class="arrow down"></i>  </button>
            <div class="dropdown-content">
                <a style="font-size: 1rem;" mat-button routerLink="/address" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    عناويني
                </a>
                <a style="font-size: 1rem;" mat-button routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    حسابي
                </a>
                <a style="font-size: 1rem;" mat-button routerLink="/call-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    اتصل بنا                
                </a>
                <a style="font-size: 1rem;" mat-button  routerLink="/affiliate-marketing" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    تسوق بالعمولة               
                </a>
            </div>
        </div>
              
    </div>
    <button mat-raised-button color="primary" *ngIf="!(auth.currentUser|async)" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> تسجيل الدخول</button>
    
    <div *ngIf="!!(auth.currentUser|async)" style="  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;">
    <div><span>مرحبا</span>      {{currentUser?.name }}. </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <img [src]="userProfileImageUrl" class="profile-picture">
      </button>
      <mat-menu #menu="matMenu">
        <button [routerLink]="['/profile']" mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>حسابي</span>
        </button>
        <button [routerLink]="'./address'" mat-menu-item >
            <mat-icon>pin_drop</mat-icon>
            <span>عناويني</span>
        </button>
        <button [routerLink]="['/cart/list']" mat-menu-item>
            <mat-icon>shopping_cart</mat-icon>
            <span>طلباتي</span>
        </button>
        <button  mat-menu-item (click)="logOut()">
            <mat-icon>power_settings_new</mat-icon>
            <span>تسجيل الخروج</span>
        </button>
    </mat-menu>
    </div>
    <!-- <button mat-raised-button color="primary" *ngIf="!!(auth.currentUser|async)" (click)="logOut()"> تسجيل الخروج</button> -->
    <div class="search-container ">
        <div class="search-box"   dir="rtl" >
            <div>
                <mat-form-field class="search" appearance="outline">
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-label>عن ماذا تبحث؟</mat-label>
                    <input matInput [(ngModel)]="searchKey" placeholder="منتج"  >
                </mat-form-field>
                <button mat-raised-button class="search-btn" color="accent" (click)="search()">بحث</button>
            </div>
        </div>
        <div class="icons-container">
            <button mat-icon-button  color="primary" aria-label="favorite" routerLink="/product-favorite" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                <mat-icon>favorite</mat-icon>
            </button>
            <button routerLink="/cart" mat-icon-button color="accent" aria-label="Shopping Cart">
                <mat-icon class='material-icons-outlined'>shopping_cart_outline</mat-icon>
                <div class="notification-badge" *ngIf="haveProductInCart()"></div>
            </button>
        </div>
    </div>
</div>