
.main-container {
  max-width: 100%;
  width: 100vw;
  background-color:white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top:0;
  z-index: 10;
  direction: rtl;
}
.button-container {
  height: 70px;
  width: 60%;
  margin: 0 5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 1s;

  a {
    border-radius: 0;
    font-size: 1.2rem;
    transition: all 0.2s;
    color: #140E3F;

    text-decoration: none;
    color: #140E3F;
  }
  .active {
    border-bottom: 3px solid #CC5232;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    border-radius: 0;
    font-size: 1.2rem;
    transition: all 0.2s;
    text-decoration: none;
    color: #140E3F;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(245, 245, 245);
    z-index: 5;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(245, 245, 245)}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(245, 245, 245);
  }
  .arrow {
    border: solid #140E3F;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
.logo-container{
  width: 10%;
}
.login-btn{
  width: 10%;
}

.search-container{
  width: 100%;
  display: flex;
  background-color: #EEF5FF;
  align-items: center;
  justify-content: center;
  height: 80px; /* Adjust as needed */
}
.search-box{
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-right: 20%;
  height: 60px; /* Adjust as needed */
}
.search{
  width: 90%;
}
.search-btn{
  width: 9%;
  border-radius: 10px 0 0 10px;
  height: 57px;
  margin-right: -4px;
  margin-top: -5px;
  background-color: #d57a61 !important;
  box-shadow: none !important;
}

.icons{
  width: 20%;
}

.rtl-container {
  direction: rtl;
}

.rtl-input {
  text-align: right;
}
.custom-form-field-container {
  border-radius: 10px;
  overflow: hidden;
}

.icons-container{
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
.white-icon {
  color: white;
}
.notification-badge {
  background-color: red;
    color: white;
    border-radius: 100%;
    padding: 2px 6px;
    font-size: 12px;
    height: 9px;
    width: 1px;
    position: absolute;
    top: 10px;
    right: 8px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  margin: -8px;
  border-radius: 50%;
  object-fit: cover;
  max-inline-size: fit-content;
}