<div class="cart-header">
    <div>
        <button mat-raised-button  [disabled]="!isDisabled" [routerLink]="['/cart','payment']" color="accent" class="butn" >متابعة الشراء</button>
    </div>
    <div class="cart-title">
            <div style="font-size: 24px; font-weight: 700; margin: 20px;">سلة المشتريات</div>
            <mat-icon style="font-size: 40px; width: 40px;  height: 40px;" class='material-icons'>shopping_cart</mat-icon>
    </div>
</div>
<app-product-cart *ngFor="let product of currentCart" [productCart]="product"></app-product-cart>
