.cart-header {
    display: flex;
    justify-content: space-around;
    background-color: #EEF5FF;
    align-items: center;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 100%;
}

.cart-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}