<div style="display: flex;
justify-content: center;
align-items: center;" *ngIf="!productDeleted">
  <div class="product-cart-body">
    <div style="display: flex; justify-content: space-between; margin: 25px">
      <div>
        <div mat-stroked-button color="accent" class="butn" (click)="deleteProductFromCart()">
          <mat-icon class="material-icons-outlined" style="margin: 5px"
            >delete_outline</mat-icon
          >
        </div>
      </div>
      <div class="product-cart-counter">
        <div style="margin-top: 8px; font-size: 14px">ل.س</div>
        <div style="font-weight: 700">{{ productCart.totalPrice | number : "1.2-2" }}</div>
      </div>
      <div class="product-cart-counter">
        <button mat-fab color="accent" class="cart-btn" [disabled]="productCart.quantity <= 0" (click)="decreaseProductQuantity()">-</button>
        <div style="margin: 10px; font-size: 16px">{{productCart.quantity}}</div>
        <button mat-fab color="accent" class="cart-btn" (click)="increaseProductQuantity()">+</button>
      </div>
    </div>
    <div>
      <div style="margin: 20px">{{ productCart.name }}</div>
    </div>
  </div>
  <div class="image-div">
    <img class="product-img" [src]="productCart.imageUrl" [alt]="''">
  </div>
</div>
