.hoverable{
    position: relative;
    display: block;
    // cursor: pointer;
    height: 100px;
    width: 100px;
    border: 0px solid rgb(226, 226, 226);
    border-radius: 50%;
  }
  
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  .rating {
    font-size: 24px;
  }

  .star {
    cursor: pointer;
    color: #ccc;
  }

  .star.filled {
    color: orange;
  }

  .rate-container {
    display: flex; 
    justify-content: space-between;
    margin: 4%;
  }
