<div class="rate-container">

    <div style="display: flex;  justify-content: flex-start;">
        <label class="hoverable">
            <img [src]="review?.owner?.profileImage?.media?.url" />
        </label>
        <div class="">
            <div style="font-weight: bold;">{{review?.owner?.name}}</div>
            <div>
                {{review?.description}}
            </div>
        </div> 
    </div>

    <div style="margin: 0% 2% 0% 2%;">
        <!-- <div style="display: flex; justify-content: space-between; margin: 2% 0% 2% 0%;"> -->
            <div class="rating">
            <span
              class="star"
              *ngFor="let star of stars; let i = index"
              [class.filled]="i < (review?.rate || 0)"
            >
              &#9733;
            </span>
            <!-- </div> -->
        </div>
    </div>


</div>
<mat-divider style="margin:0% 6% 0% 6%;"></mat-divider>