
<div class="image-container">
    <img class="main-image" src="../../../../assets/images/home-main-image.svg">
    <div class="text-overlay">
      <h1>Winter is Coming !</h1><br>
      <h3>مع عروض الشتاء<b>2023</b></h3><br>
      <button class="btn" mat-raised-button  color="accent">المزيد</button>
    </div>
  </div>