.main-image{
    width: 98vw;
}
.image-container {
    position: relative;
    display: inline-block;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    color: white;
    padding: 10px;
    font-size: smaller;
    left: 0;
    width: 50%;
    color: #140E3F;
    align-items: center;
    flex-direction: column;
  }

  .btn{
  background-color: #d57a61 !important;
  }
  h1{
    margin: 0;
  }
  h3{
    margin: 0;
  }