<div>
    <div style="display: flex;justify-content: center;">
        <div class="header-logo">
            <img class="logo" [src]="brand?.logo?.url">
        </div>
    </div>

    <app-product-slider *ngIf="showOffers()" [unitDate]="getExpiryOfferDate()" [products]="offerProducts"  [hasBackground]="true"></app-product-slider>
    <app-product-slider [title]="'جديدنا'" [products]="brand?.products || []"  [hasBackground]="false"></app-product-slider>

    <app-product-slider *ngFor="let category of brand?.productByCategory" 
        [title]="category[0].productCategory.name " [products]="category || []"  
        [hasBackground]="false" [showMoreButton]="true" [brandId]="brand?.id!">
    </app-product-slider>

    <div class="container2" *ngIf="brand?.products!.length === 0 ">
        <h1>لا يوجد منتجات لعرضها بعد</h1>
    </div>

</div>