.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Set the container height to the full viewport height */
  }
  
  h1 {
    text-align: center;
  }

.header-logo{
    height: 120px !important;
    width: 120px;
    height: auto;
    background-color: #EEF5FF;
    border-radius:50%;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
  display: inline-block;
  height: 50px;
  background-position: 50% 50%;
  background-size: cover;
}
