.card {
    height: 90px;
    width: 400px;
    border-radius: 10px;
    background-color: #EEF5FF;
    margin: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.butn {
    margin: 20px 25%;
    border-radius: 10px !important;
    border: solid 2px;
    width: 35px;
    height:35px;
    cursor: pointer;
  }

