<div dir="rtl" class="card flex" *ngIf="displayAddress">
     <div class="flex-initial w-80 m-2">
       <div class="mb-2" ><span class="font-black ">{{address?.name}}</span> </div>
       <div><span class="text-xs	">{{address?.description}}</span></div>
      </div>
      <div dir="ltr" class="flex-initial w-20  ">
        <div class="">
            <div mat-stroked-button color="accent" class="butn" (click)="deleteAddress()"  >
              <mat-icon class="material-icons-outlined" style="margin: 5px">delete_outline</mat-icon
              >
            </div>
          </div>
      </div>
      
</div>