.container{
    width: 320px;
    height: auto;
    background-color: #EEF5FF;
    border-radius:15px;
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height:80px;
}
h3{
    height: 20%;
}
h5{
    font-weight: bold;
    font-size: large;
}

a {
    text-decoration: none;
    color: black;
  }