<a  [routerLink]="'/brands/'+brand?.id" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

    <div class="container">
        <img [src]="brand?.logo?.url">
        <!-- <h3>{{brand?.name}}</h3> -->
        <div class="flex">
            <span style="margin-right: 5px;">منتج</span>
            <h5>{{brand?.productCount||0}}</h5>
        </div>
    </div>
</a>