.input-width {
    width: 100%;
    margin: 1rem 0rem 1rem 0rem;
    font-size: 0.8rem;
  }

  .backgound {
    margin: 0vw auto 0 auto;
    border-radius: 10px;
    // box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.09);
  }

  .sign-in-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


p {
    font-family: Lato;
  }

  .hoverable{
    position: relative;
    display: block;
    // cursor: pointer;
    height: 200px;
    width: 200px;
    border: 5px solid rgb(226, 226, 226);
    border-radius: 50%;
  }
  
  #fileInput{
    display: none;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 449px;
    align-items: center;

}

.header{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 2.2rem;
    gap: 1rem;
    h1{
        font-size: 3.3rem;
        font-weight: 800;
    }
    h3{
        font-size: 1.2rem;
    }
}