<div class="header">
    <h1>انضم الينا</h1>
    <h3>{{joinUs}}</h3>
</div>
<div class="backgound" dir="rtl">
    <form [formGroup]="profileForm" >
      <div style="display: flex; justify-content: space-around">
        
  
        <div style="width: 50vw;">
          <div style="display: flex; gap: 2rem;">
            <mat-form-field class="input-width" appearance="outline">
              <mat-label>اسم العلامة التجارية</mat-label>
              <input
                required
                matInput
                formControlName="brandName"
                placeholder="جلق"
              />
            </mat-form-field>
  
            <mat-form-field class="input-width" appearance="outline">
              <mat-label>اسم صاحب العلامة التجارية </mat-label>
              <input
                required
                matInput
                formControlName="brandOwnerName"
                placeholder="فادي"
              />
            </mat-form-field>
          </div>
          
          <div style="display: flex; gap: 2rem;">
            <mat-form-field class="input-width" appearance="outline">
              <mat-label>رقم الهاتف</mat-label>
              <input
                type="tel"
                required
                matInput
                formControlName="phone"
                pattern="[0-9]+$"
                placeholder="00963 رقم الهاتف"
              />
            </mat-form-field>
  
            <mat-form-field class="input-width" appearance="outline">
              <mat-label>عدد الافرع</mat-label>
              <input
                required
                matInput
                type="number"
                formControlName="branchNumber"
                placeholder= "1"
              />
            </mat-form-field>
          </div>
          <div style="display: flex">
            <mat-form-field class="input-width" appearance="outline">
              <mat-label>عنوان المحل </mat-label>
              <input
                required
                matInput
                formControlName="address"
                placeholder="دمشق"
              />
            </mat-form-field>
          </div>
          <button
            mat-raised-button
            color="primary"
            class="butn"
            (click)="onSubmit()"
          >
            ارسال الطلب
          </button>
        </div>
      </div>
    </form>
  </div>
  