.main-footer-container {
    background-color: #212121;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.bottom-footer-container {
    background-color: #d05f42;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-text {
    text-align: center;
    color: white;
}

.part-1 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.part-2 {
    width: 40%;
    min-width: 150px;
        color: white;
    font-size: 15px;
}

.part-3 {
    width: 40%;
    min-width: 150px;
    color: white;
}
.icon{
    min-width: 30px;
    margin:  5px;
    cursor: pointer;
}

.icons-contianer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.search-box{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    // width: 70%;
    margin-right: 10%;
    height: 25px !important; /* Adjust as needed */
  }
  .search-btn{
    width: 9%;
    border-radius: 10px 0 0 10px;
    height: 57px;
    margin-right: -4px;
    margin-top: -5px;
    box-shadow: none !important;
  }
  .search {
    width: 75% !important;
  }

