<div style="margin-top: 15%;">
<div class="main-footer-container" dir="rtl">
    <div class="part-1">
        <img style="margin: 20px 0;block-size: 6rem;" src="../../../../assets/icons/logo-icon.svg">
        <div class="icons-contianer">
            <img class="icon" src="../../../../assets/icons/fb.png">
            <img class="icon" src="../../../../assets/icons/ins.png">
            <img class="icon" src="../../../../assets/icons/whatsapp.png">
        </div>
    </div>
    <div class="part-2">
        <div style="font-size: 20px; margin: 7% 8% 0% 0%; padding: 6px; border-right: solid 5px;">روابط السريعة</div>
        <div style="display: flex; flex-wrap: wrap; margin: 5% 10% 0% 0%;">
            <div>
                <div style="margin-bottom: 5px;"> <a routerLink="/call-us">  اتصل بنا</a> </div>
                <div> <a [routerLink]="'./'">  انضم الينا كبائع</a></div>
            </div>
            <mat-divider style="margin: 0% 5%;" [vertical] ="true"></mat-divider>  
            <div >
                <div style="margin-bottom: 5px;"> <a [routerLink]="'./'">  من نحن ؟</a> </div>
                <div> <a [routerLink]="'./'">  شروط الاستخدام</a></div>
            </div>
            <mat-divider style="margin: 0% 5%;" [vertical] ="true"></mat-divider>  
            <div >
                <div style="margin-bottom: 5px;"> <a [routerLink]="'./'">  شكوى أو اقتراح</a> </div>
                <div> <a [routerLink]="'./'">  سياسة الخصوصية</a></div> 
            </div>
        </div>
    </div>
    <div class="part-3">
        <div style="font-size: 20px; margin: 7% 8% 0% 0%; padding: 6px; border-right: solid 5px;">اشترك بالنشرة البريدية</div>
        <div class="search-box"   dir="rtl" >
            <div>
                <mat-form-field class="search">
                    <input matInput  placeholder=""  >
                </mat-form-field>
                <button mat-raised-button class="search-btn" color="primary">اشترك</button>
                <mat-checkbox [color]="'primary'"><span style="color: white !important;" >ارسل لي كل جديد من العروض و المنتجات</span></mat-checkbox>
            </div>
        </div>
    </div>
</div>
<div class="bottom-footer-container">
    <p class="centered-text">جميع الحقوق محفوظة لشركة جلق لتجارة الألبسة || {{currentYear}}</p>
</div>
</div>