<div class="slider-container" #sliderContainer [ngClass]="hasBackground?'background':''">
    <div class="header-container" >
    <div>
        <app-time-timer *ngIf="!!unitDate" [finishTime]="unitDate" style="width: 50%; "></app-time-timer>
        <button *ngIf="!!showMoreButton" class="more-btn" mat-raised-button  color="accent" (click)="productFilter()">المزيد</button>
    </div>
    <h1 style="width: 50%; text-align: right !important;">{{title}}</h1>
    </div>
    <div class="cards-container"
        [style.transform]="'translateX(' + (-(currentIndex<=elementWidthInPX/cardSize? currentIndex*cardSize:0)) + 'px)'">
        <div class="card" *ngFor="let product of products">
            <app-product-card [product]="product" ></app-product-card>
        </div>
    </div>
    <br>
    <div class="controls">
        <button class="fav-icon" [disabled]="currentIndex === 0" mat-icon-button aria-label="previous"
            (click)="prevCard()">
            <mat-icon class="line-icon">navigate_before</mat-icon>
        </button>
        <button class="fav-icon" [disabled]="currentIndex === (products.length - 1)/elementWidthInPX/cardSize"
            mat-icon-button aria-label="next" (click)="nextCard()">
            <mat-icon class="line-icon">navigate_next</mat-icon>
        </button>
    </div>
</div>