.slider-container {
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 60px;
}
.background{
    background-image: url('../../../../assets/images/slider-background.png');
}

.cards-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.card {
    flex: 0 0 300px;
    /* Add your desired card styles here */
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    padding: 8px 12px;
    background-color: #eaeaea;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 20px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.header-container{
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-end;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-clip: revert;
    background-size: cover;
}

.more-btn{
    background-color: #FFC973 !important;
}