.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Set the container height to the full viewport height */
  }
  
  h1 {
    text-align: center;
  }