.backgound {
  padding: 50px;
  width: 350px;
  margin: 5vw auto 0 auto;
  border-radius: 10px;
//   box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.09);
}

.login {
//   color: $primaryColor;
  width: auto;
  text-align: center;
  margin-bottom: 30px;
}
.input-width {
  width: 100%;
  margin: 10px auto;
  font-size: 0.8rem;
}
p {
  margin: auto;
  width: 100%;
}
.password {
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.4s;
}
.password:hover {
//   color: ;
  font-size: 0.9rem;
}
.butn {
  margin: 20px 25%;
  width: 50%;
}
.sign-in-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.sing-in-butn {
  margin: 0px 0%;
  width: 50%;
    align-items: center;
}
h4{
    width: 40%;
    font-weight: 100;
    text-align: left;
    margin-left: 5%;
}

.mat-divider{
  border-top-width: 2px;
    border-top-style: solid;
    margin-top: 40px;
    // margin-bottom: 40px;
    width: 60%;
    margin-left: 20%;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
}
