<div dir="rtl"  class="mt-10 flex flex-col justify-center items-center">
    <form [formGroup]="addressForm">
        <div class="flex">
            <mat-form-field class="ml-5" style="width: 300px;" appearance="outline">
                <mat-label> الاسم</mat-label>
                <input required matInput formControlName="name" placeholder="المنزل">
            </mat-form-field>

            <mat-form-field class="ml-5"  style="width: 300px;" appearance="outline">
                <mat-label>البلد</mat-label>
                <mat-select formControlName="country" (selectionChange)="onChangeCountry($event)">
                  <mat-option *ngFor="let country of countries " [value]="country">{{country.name}}</mat-option>
                </mat-select> 
            </mat-form-field>

            <mat-form-field style="width: 300px;" appearance="outline">
                <mat-label>المحافظة</mat-label>
                <mat-select formControlName="city">
                  <mat-option *ngFor="let city of countrySelected.cities" [value]="city">{{city.name}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <mat-form-field  appearance="outline" style="width: 100%;">
            <mat-label>تفاصيل العنوان</mat-label>
            <textarea matInput formControlName="description" placeholder="اسم الشارع - اسم البناء - رقم الطابق"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addNewAddress()" > إضافة عنوان</button>
    </form>
    
</div>

<mat-divider role="separator"></mat-divider>

<div class="container">
<app-address-card *ngFor="let address of currentUserAddresses" [address]="address"></app-address-card>
</div>