.main-container {
    width: 250px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.055);
    transition: transform 0.5s;
    margin: 10px;
}

.main-container:hover {
    transform: scale(1.05);
}

.img-container {
    display: flex;
    width: 100%;
}

.product-img {
    width: 100%;
    height: 200px;
    margin-left: -30px;
}

.fav-icon {
    width: 10%;
}

.container {
    display: grid;
    padding: 10%;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "discount- details-"
        "actions price";
    height: 50%;
}

.discount- {
    grid-area: discount-;
    color: #FFC973;
    text-align: center;
}

.details- {
    grid-area: details-;
    text-align: right;
}

.actions {
    grid-area: actions;
    justify-content: center;
}

.price {
    grid-area: price;
    text-align: right;
}

h5 {
    margin: 0;
    font-weight: 100;
    color: #696868;
}

h3 {
    margin: 0;
}

h6 {
    margin: 0;
    font-weight: 100;
    text-align: center;
    color: #B8E0D2;
}
.price-details{    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.line-icon {
    fill: none;
    stroke: black;
    stroke-width: 2px;
  }
  .cart-btn{
    border-radius: 9px !important;
    width: 40px;
    height: 40px;
    margin: 5px auto;
    display: block;
    box-shadow: none;
  }

  
a {
    text-decoration: none;
    color: black;
  }