<div class="main-container">
    <a  [routerLink]="'/product/'+product?.id" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <div class="img-container">
        <button  mat-icon-button  color="primary" aria-label="favorite" (click)="addToFavorite($event)">
            <mat-icon class="line-icon">{{!favorite?"favorite_outline":"favorite"}}</mat-icon>
        </button>
        <img class="product-img" [src]="product?.mainPhoto?.url" [alt]="product?.description">
    </div>
    <div class="container">
        <div class="discount-">
            {{getOffer()}}
        </div>
        <div class="details-">
        <h3 style="margin: 0;">
                {{product?.name}}
        </h3>
        <h5>
            {{product?.productCategory?.name}}
        </h5>
        </div>
        <div class="actions">
            <h6>متوفر</h6>
            <button mat-fab color="primary" aria-label="Shopping Cart" class="cart-btn" (click)="addToCart($event)">
                <mat-icon class='material-icons-outlined'>shopping_cart_outline</mat-icon>
              </button>
        </div>
        <div class="price">
            <div class="price-details">
                <h3>{{product?.priceAfterOffer}}</h3>
                <h5 *ngIf="product?.hasOffer" style="text-decoration: line-through; margin-right: 10%;">{{product?.price}}</h5>
            </div>
            <h5>ل.س</h5>
        </div>
      </div>
    </a>
</div>