<div class="main-container" dir="rtl">
    <div class="right-container">
        <div class="header-card">
            <div style="width: 40%;">
                <h1 style="font-size: 40px; font-weight: bold;">{{product?.name}}</h1>
                <p style="font-weight: lighter;">{{product?.brand?.name}}</p>
            </div>
            <div class="left-part" style="width: 27%;">
                <div style="display: flex;
                align-items: center;
                justify-content: space-between;">
                    <div class="rate">
                        <div>{{product?.rate}}</div>
                        <mat-icon>star_border</mat-icon>
                    </div>
                    <button mat-stroked-button color="primary" style="margin: 5px;" (click)="addToFavorite()">
                        <mat-icon style="margin-left: -2px;" class="line-icon">{{!product?.isFavorite?"favorite_outline":"favorite"}}</mat-icon>
                    </button>
                </div>
                <button mat-stroked-button color="accent"
                    style="margin: 5px; color: #B8E0D2; border: solid 2px #B8E0D2;">متوفر بالمتجر</button>
            </div>
        </div>
        
        <div>
            <div class="contect" *ngIf="sizes.length">
                <h3 style="font-weight: bold;">القياسات المتوفرة:</h3>
                <div>
                    <button mat-stroked-button *ngFor="let size of sizes" [disabled]="!size.isActive" [color]="size.isActive?'primary':'accent'"
                        (click)="selectSize(size)"
                        style="border-radius: 50px; margin: 2px;"
                        [ngStyle]="{'border':size.isActive?'solid 2px #9C89FF':'solid 2px #140e3f','background-color':size.isSelected ? '#9C89FF':'', 'color': size.isSelected ? 'white' : ''}"
                        
                        >{{size.label}}</button>
                </div>
            </div>
            
            
            <mat-divider style="width: 90%;"></mat-divider>
            
            
            <div *ngIf="product?.productDetails" class="contect" style="display: flex; justify-content: flex-start; align-items: center;">
                <h3 style="font-weight: bold;">الألوان المتوفرة</h3>
                <div style="display: flex; margin-right: 30px;">
                    <img class="color-img" *ngFor="let detail of product?.productDetails" (click)="handleChangesByColor(detail)" [src]="detail?.media?.url" alt="" >
                </div>
            </div>
            
            
            <div class="contect" style="display: flex; align-items: baseline; justify-content: flex-start;">
                <h3 style="font-weight: bold;">الكمية</h3>
                <div class="product-cart-counter">
                    <button mat-fab color="accent" class="increase-but" [disabled]="currentQuantity <= 1" (click)="decreaseProductQuantity()">-</button>
                    <div style="margin: 10px; font-size: 20px; font-weight: bold;">{{currentQuantity}}</div>
                    <button mat-fab color="accent" class="increase-but" (click)="increaseProductQuantity()">+</button>
                  </div>
            </div>
        </div>
        
        

    </div>
    <div class="left-container">
        
        <div class="product-image">
            <img class="prosuct-img" [src]="currentProductImageUrl" alt="">
        </div>
        <div class="cart-btn" (click)="addProductToCart()">
            <h2>ل.س</h2>
            <h2>{{(product?.price || 0 ) * currentQuantity }}</h2>
            <mat-icon class='material-icons-outlined'>shopping_cart_outline</mat-icon>
          </div>
    </div>
</div>


<app-product-detail></app-product-detail>



<div class="add-rate">
 <form [formGroup]="rateForm"> 
    <div>
        <h1 class="center-div" style="margin-bottom: 2%">أضف تقيماً</h1>
        <div class="rating center-div">
            <span
              class="star"
              *ngFor="let star of stars; let i = index"
              [class.filled]="i < selectedStar"
              (click)="onStarClick(i + 1)"
            >
              &#9733;
            </span>
        </div>
        
        <div class="center-div">
            <textarea  formControlName="rateDescription" matInput style="direction: rtl; width: 750px; height: 150px; background-color: #EEF5FF; border-radius: 5px;" placeholder="اضف التقيم" ></textarea>
        </div>  
        
        <div class="center-div">
             <button  style="background-color: #FFC973 !important;" mat-stroked-button  (click)="addNewRate()">أضف تقيماً</button>
        </div>
    
    </div>
 </form>
</div>

<mat-divider style="margin:0% 6% 8% 6%;"></mat-divider>

<app-product-slider *ngIf="mostSellingProducts?.length" [products]="mostSellingProducts" [title]="'الناس يشترون ايضا'"  [hasBackground]="true"></app-product-slider>

<app-product-slider *ngIf="mostSellingProducts?.length" [products]="mostSellingProducts" [title]="'منتجات مماثلة'" ></app-product-slider>
