.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-content: space-around;
    padding: 5%;
    box-sizing: border-box;
}



.left-container {
    width: 35%;
    height: 50px;
    min-width: 400px;
    margin: 10px
}

.right-container {
    width: 55%;
    min-width: 400px;
    margin: 10px
}

.header-card {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    border-radius: 10px;
    background-color: #EEF5FF;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;

}

.left-part {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    align-content: flex-end;
    flex-direction: column;
}



.color-img {
    border: solid 2px #9C89FF;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: contain;
    margin: 15px 0px 20px 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.prosuct-img{
    width: 100%;
    height: 255px;
    object-fit: fill;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: block;
}

.cart-btn{
    background-color: #9C89FF;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
}

h2{
    margin-top: 10px;
}

.product-image {
    border-radius: 15px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.055);

}


.rate{
    background-color: #FFC973 !important;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    width: 50%;
    height: 35px;
    justify-content: space-evenly;
    margin: 5px;

}

.contect {
    margin-right: 50px;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.product-cart-counter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
    margin-left: 20px;
    margin-right: 110px;

}

.increase-but{
    border-radius: 10px !important;
    width: 40px;
    height: 40px;
    margin: 5px auto;
    display: block;
    box-shadow: none;
  }

  
.custom-tab-group .mat-tab-header {
    background-color: #EEF5FF;
  }
  
  .rating {
    font-size: 40px;
  }
  
  .star {
    cursor: pointer;
    color: #ccc;
  }
  
  .star.filled {
    color: orange;
  }

.add-rate {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.center-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}