<!-- <app-navbar class="no-print"></app-navbar> -->
<div class="main-container">
    <div class="content">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet> 
    </div>
    <app-footer class="bottom-container"></app-footer>
</div>