<div class="backgound" dir="rtl">
    <mat-icon svgIcon="facebook"></mat-icon>
    <mat-icon svgIcon="google"></mat-icon>
    <mat-icon svgIcon="email"></mat-icon>
    <form [formGroup]="loginForm">
        <mat-form-field class="input-width" appearance="outline">
            <mat-label> اسم المستخدم أو البريد الإلكتروني</mat-label>
            <input required matInput formControlName="userName" placeholder="example@fab.com">
        </mat-form-field>

        <mat-form-field class="input-width" appearance="outline">
            <mat-label>كلمة المرور</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"  formControlName="passWord">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        <button mat-raised-button color="accent" class="butn" (click)="onSubmit()">تسجيل الدخول</button>
        
        <div class="sign-in-container">
            <h4>ليس لديك حساب ؟</h4>
            <button mat-raised-button color="primary" class="sing-in-butn" routerLink="/sign-in" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">إنشاء حساب</button>
        </div>
    </form>
</div>
