.container{
    background-color: #EEF5FF;
    height: 150px;
    min-width: 500px;
    width: 43vw;
    border-radius: 4px;
    transition: transform 0.5s;
    padding: 0 12%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center; /* Vertical alignment */
}

.container:hover {
    transform: scale(1.05);
}
img{  
    margin-top: -75px;
    height: 200px;
    width: 200px;
}
h1,h5{
    margin: 0;
}