<div class="container">
    <img [src]="category?.icon?.url" alt="category">
    <div class="content" dir="rtl">
        <h1>{{category?.name}}</h1>
        <h5 style="color: #989898;">{{category?.id}} منتج</h5>
    </div>
</div>