
<div class="container">
    <img src="../../../../assets/images/special-offer-img.png">
    <div class="content" dir="rtl">
        <br>
        <h1>عرض خاص:</h1>
        <h3>كنزة شتوي + جاكيت شتوي + بلوزة تركواز + طاقية صوف</h3>
        <h2>فقط بـ <b style="font-size: 4rem;">25000</b> </h2>
        <h2>بدلا من <span style="font-size: 3rem; text-decoration: line-through; margin-right: 10%; color: #ffffff6e; font-weight: 100;">25000</span> </h2>
        <h1>نسبة التوفير  50%</h1>
    </div>
</div>
