.container{
    display: flex;
    width: 100%;
    background-size: cover;
    background-image: url('../../../../assets/images/special-offer-background.png');
}

img{
    width: 40%;    
}
.content{
    width: 60%;
    text-align: right;
    padding: 0 100px ;
    color: white;
}