@use '@angular/material' as mat;

$FAB-primary:  (
  50 : #f3f1ff,
  100 : #e1dcff,
  200 : #cec4ff,
  300 : #baacff,
  400 : #ab9bff,
  500 : #9c89ff,
  600 : #9481ff,
  700 : #8a76ff,
  800 : #806cff,
  900 : #6e59ff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fdfdff,
  A700 : #e7e4ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


$FAB-accent: (
    50 : #e3e2e8,
    100 : #b9b7c5,
    200 : #8a879f,
    300 : #5b5679,
    400 : #37325c,
    500 : #140e3f,
    600 : #120c39,
    700 : #0e0a31,
    800 : #0b0829,
    900 : #06041b,
    A100 : #6659ff,
    A200 : #3726ff,
    A400 : #1300f2,
    A700 : #1100d9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$FAB-front-primary: mat.define-palette($FAB-primary);
$FAB-front-accent: mat.define-palette($FAB-accent);

$FAB-front-warn: mat.define-palette(mat.$red-palette);


@font-face {
  font-family: "cairo";
  font-weight: 200;
  src: url(/assets/font/cairo/Cairo-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "cairo";
  font-weight: 300;
  src: url(/assets/font/cairo/Cairo-Light.ttf) format("truetype");
}
@font-face {
  font-family: "cairo";
  font-weight: 400;
  src: url(/assets/font/cairo/Cairo-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "cairo";
  font-weight: 600;
  src: url(/assets/font/cairo/Cairo-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "cairo";
  font-weight: 700;
  src: url(/assets/font/cairo/Cairo-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "cairo";
  font-weight: 900;
  src: url(/assets/font/cairo/Cairo-Black.ttf) format("truetype");
}
//  $kids-typography: mat.define-typography-config(
//     $font-family: 'Comic Sans',
//     $font-weight: 400,
//     $font-size: 1rem,
//     $line-height: 1,
//     $letter-spacing: normal,
//   );
$my-custom-level: mat.define-typography-level(
  $font-family: 'Comic Sans',
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);
$FAB-front-theme: mat.define-light-theme((
  color: (
    primary: $FAB-front-primary,
    accent: $FAB-front-accent,
    warn: $FAB-front-warn,
  ),
  // typography:$my-custom-level,
));

@include mat.all-component-themes($FAB-front-theme);

