<h2 style="color: #140E3F; text-align: center; margin-top: 50px;">إنشاء حساب جديد</h2>
<form class="backgound" class="form" [formGroup]="signForm" dir="rtl">
    <mat-form-field class="input-width" appearance="outline">
        <mat-label> اسم الأول</mat-label>
        <input required matInput formControlName="name" >
    </mat-form-field>
    <mat-form-field class="input-width" appearance="outline">
        <mat-label> اسم الاخير</mat-label>
        <input required matInput formControlName="lastName">
    </mat-form-field>
    <!-- <br> -->
    <mat-form-field class="input-width" appearance="outline">
        <mat-label>تاريخ الميلاد</mat-label>
        <mat-error>يجب ان يكون تاريخ ميلاد حقيقي.</mat-error>
        <input matInput formControlName="birthday" [matDatepicker]="picker"  placeholder="10/25/1993">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="input-width" >
        <section class="example-section">
            <label class="example-margin">الجنس:</label>
            <mat-radio-group  color="primary" formControlName="gender"  >
              <mat-radio-button class="example-margin" value="MALE">ذكر</mat-radio-button>
              <mat-radio-button class="example-margin" value="FEMALE">أنثى</mat-radio-button>
            </mat-radio-group>
          </section>
    </div>



    <mat-form-field class="input-width" appearance="outline">
        <mat-label>رقم الهاتف</mat-label>
        <mat-error>يجب ان يبدأ رقم الهاتف بـ +963، وأن يكون أقصر من 12 رقم</mat-error>
        <input required matInput formControlName="phone" placeholder="00963 99.....">
    </mat-form-field>
    
    <mat-form-field class="input-width" appearance="outline">
        <mat-label> البريد الإلكتروني</mat-label>
        <mat-error>يجب ان  يكون عنوان بريدي إلكتروني حقيقي</mat-error>
        <input required matInput formControlName="email" placeholder="example@fab.com">
    </mat-form-field>

    <mat-form-field class="input-width" appearance="outline">
        <mat-label>كلمة المرور</mat-label>
        <mat-error>يجب ان يكون طول كلمة المرور على الاقل 8 محارف</mat-error>
        <input required matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
        <button mat-icon-button  matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    
    <mat-form-field class="input-width" appearance="outline">
        <mat-label>تأكيد كلمة المرور</mat-label>
        <mat-error>يجب ان تكون مطابقة لكلمة المرور</mat-error>
        <input required matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!signForm.valid" class="butn" (click)="onSubmit()">إنشاء حساب</button>

</form>