.backgound {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 5vw auto 0 auto;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;

}

.input-width {
    width: 40%;
    font-size: 0.8rem;
    min-width: 200px;
}

p {
    margin: auto;
    width: 100%;
}

.password {
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.4s;
}

.password:hover {
    //   color: ;
    font-size: 0.9rem;
}

.butn {
    margin: 20px 25%;
    width: 50%;
}

.sign-in-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sing-in-butn {
    margin: 0px 0%;
    width: 50%;
    align-items: center;
}

h4 {
    width: 40%;
    font-weight: 100;
    text-align: left;
    margin-left: 5%;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}