.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: stretch;
    flex-direction: row-reverse;
}

.card{
    margin: 25px;
}