
<div *ngIf="(categories$| async)" style="margin: 0 50px;">
    <h1 dir="rtl">الأصناف:</h1>
    <div class="container">
        <app-category-card class="card" *ngFor="let category of (categories$| async)" [category]="category"></app-category-card>
    </div>
</div>