<div class="backgound" dir="rtl">
  <form [formGroup]="profileForm">
    <div style="display: flex; justify-content: space-around">
      <div class="container">
        <div style="display: flex; align-items: flex-end">
          <div>
            <label class="hoverable">
              <img [src]="profileForm.get('media')?.value.url ?? ''" />
            </label>
          </div>
          <div>
            <div
              style="
                border: 0px solid rgb(226, 226, 226);
                margin-right: -60px;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                background-color: #0b0147;
                z-index: 1;
              "
              color="accent"
              class="hoverable"
            >
              <label for="fileInput">
                <mat-icon
                  aria-hidden="false"
                  [style]="{ color: '#f3f3f2', margin: '8px' }"
                  aria-label="Example home icon"
                  fontIcon="camera_alt"
                  style="cursor: pointer"
                >
                  <input
                    id="fileInput"
                    type="file"
                    (change)="onFileSelected($event)"
                  />
                </mat-icon>
              </label>
            </div>
          </div>
        </div>
        <div>
          <button
            mat-raised-button
            (click)="onSubmit()"
            [style]="{ color: 'red' }"
            
            matTooltip="لا يمكنك حذف حسابك حاليا"
            [matTooltipPosition]="'above'"
          >
            حذف الحساب
          </button>
        </div>
      </div>

      <div>
        <div style="display: flex">
          <mat-form-field class="input-width" appearance="outline">
            <mat-label>الاسم الاول</mat-label>
            <input
              required
              matInput
              formControlName="name"
              placeholder="فادي"
            />
          </mat-form-field>

          <mat-form-field class="input-width" appearance="outline">
            <mat-label> الاسم الأخير</mat-label>
            <input
              required
              matInput
              formControlName="lastName"
              placeholder="اللحام"
            />
          </mat-form-field>
        </div>
        <div style="display: flex">
          <mat-form-field class="input-width" appearance="outline">
            <mat-label> تاريخ الميلاد</mat-label>
            <input
              [type]="'date'"
              matInput
              formControlName="birthday"
              placeholder="01/01/1999"
            />
          </mat-form-field>

          <div class="input-width" [style]="{ display: 'grid' }">
            <mat-label>الجنس</mat-label>
            <mat-radio-group
              aria-label="Select an option"
              formControlName="gender"
            >
              <mat-radio-button value="MALE">ذكر</mat-radio-button>
              <mat-radio-button value="FEMALE">أنثى</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div style="display: flex">
          <mat-form-field class="input-width" appearance="outline">
            <mat-label>رقم الهاتف</mat-label>
            <input
              type="tel"
              required
              matInput
              formControlName="phone"
              pattern="[0-9]+$"
              placeholder="00963 رقم الهاتف"
            />
          </mat-form-field>

          <mat-form-field class="input-width" appearance="outline">
            <mat-label>البريد الإلكتروني</mat-label>
            <input
              required
              matInput
              formControlName="email"
              placeholder="example@fab.com"
            />
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          color="primary"
          class="butn"
          (click)="onSubmit()"
        >
          حفظ التعديلات
        </button>
      </div>
    </div>
  </form>
</div>
