.input-width {
    width: 100%;
    margin: 30px 0px 30px 30px;
    font-size: 0.8rem;
  }

  .backgound {
    padding: 50px;
    width: 850px;
    margin: 5vw auto 0 auto;
    border-radius: 10px;
    // box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.09);
  }

  .sign-in-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


p {
    font-family: Lato;
  }
  
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .hoverable{
    position: relative;
    display: block;
    // cursor: pointer;
    height: 200px;
    width: 200px;
    border: 5px solid rgb(226, 226, 226);
    border-radius: 50%;
  }
  
  #fileInput{
    display: none;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 449px;
    align-items: center;

  }
