.body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding-top: 100px;
  color: #333;
}
.error-number {
  font-size: 72px;
  margin: 0rem 0rem 5rem 0rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 10rem;
}
.emoji {
  font-size: 7rem;
  margin: 3px 0;
}
.error-message {
  font-size: 26px;
  margin-bottom: 23px;
}
.error-description {
  font-size: 18px;
  margin-top: 10px;
  direction: rtl;
}