

<div class="body">
  <div class="error-number">4<div class="emoji">😲</div>4</div>
  
  <div class="error-message">عذرًا.. الصفحة التي تبحث عنها غير موجودة</div>
  <div class="error-description">قد يكون الرابط الذي اتبعته غير صحيح، أو أنك كتبت العنوان بشكل غير صحيح في شريط العناوين</div>
</div>